<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanruan.platform.mapper.HrOrgMapper" >
  <resultMap id="BaseResultMap" type="com.fanruan.platform.bean.HrOrg" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SPK_ORG" property="spkOrg" jdbcType="VARCHAR" />
    <result column="ENABLESTATE" property="enableState" jdbcType="INTEGER" />
    <result column="SHORTNAME" property="shortName" jdbcType="VARCHAR" />
    <result column="SCODE" property="scode" jdbcType="VARCHAR" />
    <result column="SNAME" property="sname" jdbcType="VARCHAR" />
    <result column="TS" property="ts" jdbcType="VARCHAR" />
    <result column="DR" property="dr" jdbcType="INTEGER" />
    <result column="UPDATETIME" property="updateTime" jdbcType="OTHER" />
    <result column="UPDATETIMEBY" property="updateTimeBy" jdbcType="VARCHAR" />
    <result column="PK_ORG" property="pkOrg" jdbcType="VARCHAR" />
    <result column="RULE" property="rule" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, NAME, SPK_ORG, ENABLESTATE, SHORTNAME, SCODE, SNAME, TS, DR, UPDATETIME, UPDATETIMEBY, 
    PK_ORG, RULE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from INPUT_HR_ORG
    where CODE = #{CODE,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from INPUT_HR_ORG
    where pk_org = #{pkOrg,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fanruan.platform.bean.HrOrg" >
    insert into INPUT_HR_ORG (CODE, NAME, SPK_ORG, 
      ENABLESTATE, SHORTNAME, SCODE,
      SNAME, TS, DR, UPDATETIME, 
      UPDATETIMEBY, PK_ORG, RULE
      )
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{spkOrg,jdbcType=VARCHAR},
      #{enableState,jdbcType=DECIMAL}, #{shortName,jdbcType=VARCHAR}, #{scode,jdbcType=VARCHAR},
      #{sname,jdbcType=VARCHAR},TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS'), #{dr,jdbcType=DECIMAL}, SYSDATE,
      #{updateTimeBy,jdbcType=VARCHAR}, #{pkOrg,jdbcType=VARCHAR}, #{rule,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fanruan.platform.bean.HrOrg" >
    insert into INPUT_HR_ORG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null" >
        CODE,
      </if>
      <if test="NAME != null" >
        NAME,
      </if>
      <if test="SPK_ORG != null" >
        SPK_ORG,
      </if>
      <if test="ENABLESTATE != null" >
        ENABLESTATE,
      </if>
      <if test="SHORTNAME != null" >
        SHORTNAME,
      </if>
      <if test="SCODE != null" >
        SCODE,
      </if>
      <if test="SNAME != null" >
        SNAME,
      </if>
      <if test="TS != null" >
        TS,
      </if>
      <if test="DR != null" >
        DR,
      </if>
      <if test="UPDATETIME != null" >
        UPDATETIME,
      </if>
      <if test="UPDATETIMEBY != null" >
        UPDATETIMEBY,
      </if>
      <if test="PK_ORG != null" >
        PK_ORG,
      </if>
      <if test="RULE != null" >
        RULE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null" >
        #{CODE,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null" >
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="SPK_ORG != null" >
        #{SPK_ORG,jdbcType=VARCHAR},
      </if>
      <if test="ENABLESTATE != null" >
        #{ENABLESTATE,jdbcType=DECIMAL},
      </if>
      <if test="SHORTNAME != null" >
        #{SHORTNAME,jdbcType=VARCHAR},
      </if>
      <if test="SCODE != null" >
        #{SCODE,jdbcType=VARCHAR},
      </if>
      <if test="SNAME != null" >
        #{SNAME,jdbcType=VARCHAR},
      </if>
      <if test="TS != null" >
        #{TS,jdbcType=VARCHAR},
      </if>
      <if test="DR != null" >
        #{DR,jdbcType=DECIMAL},
      </if>
      <if test="UPDATETIME != null" >
        #{UPDATETIME,jdbcType=OTHER},
      </if>
      <if test="UPDATETIMEBY != null" >
        #{UPDATETIMEBY,jdbcType=VARCHAR},
      </if>
      <if test="PK_ORG != null" >
        #{PK_ORG,jdbcType=VARCHAR},
      </if>
      <if test="RULE != null" >
        #{RULE,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanruan.platform.bean.HrOrg" >
    update INPUT_HR_ORG
    <set >
      <if test="name != null and name!=''" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="spkOrg != null and spkOrg!=''" >
        SPK_ORG = #{spkOrg,jdbcType=VARCHAR},
      </if>
       <if test="enableState != null " >
        ENABLESTATE = #{enableState,jdbcType=VARCHAR},
       </if>
      <if test="shortName != null and shortName!=''" >
        SHORTNAME = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="scode != null and scode!=''" >
        SCODE = #{scode,jdbcType=VARCHAR},
      </if>
      <if test="code != null and code!=''" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="sname != null and sname!=''" >
        SNAME = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="ts != null and ts!=''" >
        TS = #{ts,jdbcType=VARCHAR},
      </if>
      <if test="dr != null and dr!=''" >
        DR = #{dr,jdbcType=DECIMAL},
      </if>

        UPDATETIME = SYSDATE,

      <if test="updateTimeBy != null and updateTimeBy!=''" >
        UPDATETIMEBY = #{updateTimeBy,jdbcType=VARCHAR},
      </if>
      <if test="rule != null and rule!=''" >
        RULE = #{rule,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_org = #{pkOrg,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanruan.platform.bean.HrOrg" >
    update INPUT_HR_ORG
    set NAME = #{NAME,jdbcType=VARCHAR},
      SPK_ORG = #{SPK_ORG,jdbcType=VARCHAR},
      ENABLESTATE = #{ENABLESTATE,jdbcType=DECIMAL},
      SHORTNAME = #{SHORTNAME,jdbcType=VARCHAR},
      SCODE = #{SCODE,jdbcType=VARCHAR},
      SNAME = #{SNAME,jdbcType=VARCHAR},
      TS = #{TS,jdbcType=VARCHAR},
      DR = #{DR,jdbcType=DECIMAL},
      UPDATETIME = #{UPDATETIME,jdbcType=OTHER},
      UPDATETIMEBY = #{UPDATETIMEBY,jdbcType=VARCHAR},
      PK_ORG = #{PK_ORG,jdbcType=VARCHAR},
      RULE = #{RULE,jdbcType=VARCHAR}
    where CODE = #{CODE,jdbcType=VARCHAR}
  </update>
  <select id="listByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select * from (  select rownum r,c.* from (
    SELECT CODE,NAME,SHORTNAME,SCODE,SNAME, '手工' orgType,ENABLESTATE,PK_ORG,rule  FROM INPUT_HR_ORG

    UNION ALL
    SELECT CODE ,NAME ,SHORTNAME ,SCODE ,SNAME ,'NC' orgType,ENABLESTATE,PK_ORG,'' rule FROM ODS_HR_ORG) c
     order by code)
   where 1=1
        <if test="pageIndex!=null and pageIndex!='' and pageSize!=null and pageSize!=''">
          and rownum &lt;= #{pageIndex} * #{pageSize}
        </if>

       <if test="scode!=null and scode!=''">
         and scode=#{scode,jdbcType=VARCHAR}
       </if>
    <if test="code!=null and code!=''">
      and code=#{code,jdbcType=VARCHAR}
    </if>

        <if test="pageIndex!=null and pageIndex!='' and pageSize!=null and pageSize!=''">
          and  r &gt;= (#{pageIndex}-1) * #{pageSize}
        </if>
        order by orgType desc,code asc
  </select>


  <select id="listByMap1" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select * from (  select rownum r,c.* from (
    SELECT CODE,NAME,SHORTNAME,SCODE,SNAME, '手工' orgType,ENABLESTATE,PK_ORG,rule  FROM INPUT_HR_ORG  WHERE ENABLESTATE = '1'

    UNION ALL
    SELECT CODE ,NAME ,SHORTNAME ,SCODE ,SNAME ,'NC' orgType,2 ENABLESTATE,PK_ORG,'' rule FROM ODS_HR_ORG WHERE DR = '0') c
    order by decode(code,'010',1),code)
    where 1=1
    <if test="pageIndex!=null and pageIndex!='' and pageSize!=null and pageSize!=''">
      and rownum &lt;= #{pageIndex} * #{pageSize}
    </if>
    <if test="scode!=null and scode!=''">
      and scode=#{scode,jdbcType=VARCHAR}
    </if>
    <if test="code!=null and code!=''">
      and code=#{code,jdbcType=VARCHAR}
    </if>
    and ENABLESTATE in('1','2')

    <if test="pageIndex!=null and pageIndex!='' and pageSize!=null and pageSize!=''">
      and  r &gt;= (#{pageIndex}-1) * #{pageSize}
    </if>
  </select>



</mapper>