<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanruan.platform.mapper.HrZxbClientMapper" >
  <resultMap id="BaseResultMap" type="com.fanruan.platform.bean.HrZxbClient" >
    <id column="FID" property="fId" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CLIENTNO" property="clientNo" jdbcType="VARCHAR" />
    <result column="UPDATEBY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updateTime" jdbcType="VARCHAR" />
    <result column="COMPANY_TYPE" property="companyType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rownum r,FID, CODE, NAME, CLIENTNO, UPDATEBY, UPDATETIME, COMPANY_TYPE
  </sql>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanruan.platform.bean.HrZxbClient" >

        update INPUT_HR_ZXB_CLIENT
        <set >
             CLIENTNO = #{clientNo,jdbcType=VARCHAR},
            UPDATEBY= #{updateBy,jdbcType=VARCHAR},
            UPDATETIME=SYSDATE
        </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>

    <insert id="insert" parameterType="com.fanruan.platform.bean.HrZxbClient" >
        INSERT INTO INPUT_HR_ZXB_CLIENT(FID,CODE,NAME,CLIENTNO,UPDATEBY,UPDATETIME,COMPANY_TYPE)
        values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{clientNo,jdbcType=VARCHAR},#{updateBy,jdbcType=VARCHAR},SYSDATE, #{companyType,jdbcType=VARCHAR})
    </insert>

    <select id="getCount" resultType="Integer" parameterType="java.util.Map">

        select count(*)
        from (SELECT  CODE,G.COMPANYCODE,G.COMPANYNAME,NAME,'HR系统' AS TAP
        FROM ODS_HR_ORG O
        LEFT JOIN DIM_ORG G ON O.CODE=G.SUBCOMPANYCODE

        UNION
        SELECT CODE,
        '' AS COMPANYCODE,
        '' AS  COMPANYNAME,
        NAME,
        '手工填报' AS TAP
        FROM INPUT_HR_ORG
        ORDER BY COMPANYCODE,CODE) aa
        left join INPUT_HR_ZXB_CLIENT on INPUT_HR_ZXB_CLIENT.Code=aa.code
        where 1=1
        <if test="code != null and code!=''" >
            and aa.code like '%'||#{code}||'%'

        </if>
        <if test="name != null and name!=''">
            and aa.name like '%'||#{name}||'%'
        </if>




    </select>


    <select id="getClientCount" resultType="Integer" parameterType="java.util.Map">
        SELECT COUNT(*) FROM INPUT_HR_ZXB_CLIENT WHERE CODE =  #{code}
    </select>

  <select id="listByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
select * from
   ( select rownum r,c.* from (
      select aa.code,aa.COMPANYCODE companyCode,INPUT_HR_ZXB_CLIENT.Clientno clientNo,aa.companyname companyName,aa.Name name,aa.TAP company_type
      from (
      SELECT  CODE,G.COMPANYCODE,G.COMPANYNAME,NAME,'HR系统' AS TAP
      FROM ODS_HR_ORG O
      LEFT JOIN DIM_ORG G ON O.CODE=G.SUBCOMPANYCODE

      UNION
      SELECT CODE,
      '' AS COMPANYCODE,
      '' AS  COMPANYNAME,
      NAME,
      '手工填报' AS TAP
      FROM INPUT_HR_ORG
      ) aa
      left join INPUT_HR_ZXB_CLIENT on INPUT_HR_ZXB_CLIENT.Code=aa.code) c
      where 1=1
      <if test="code != null and code!=''" >
          and c.code like '%'||#{code}||'%'
      </if>
      <if test="name != null and name!=''">
          and c.name like '%'||#{name}||'%'
      </if>

      <if test="pageIndex!=null and pageIndex!='' and pageSize!=null and pageSize!=''">
          and rownum &lt;= #{pageIndex} * #{pageSize}
      </if>

    )  where
     1=1

      <if test="pageIndex!=null and pageIndex!='' and pageSize!=null and pageSize!=''">
          and  r &gt;= (#{pageIndex}-1) * #{pageSize}
      </if>
      order by company_type asc,code asc

  </select>
</mapper>