<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanruan.platform.mapper.HrZxbClientMapper" >
  <resultMap id="BaseResultMap" type="com.fanruan.platform.bean.HrZxbClient" >
    <id column="FID" property="fId" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CLIENTNO" property="clientNo" jdbcType="VARCHAR" />
    <result column="UPDATEBY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updateTime" jdbcType="VARCHAR" />
    <result column="COMPANY_TYPE" property="companyType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rownum r,FID, CODE, NAME, CLIENTNO, UPDATEBY, UPDATETIME, COMPANY_TYPE
  </sql>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanruan.platform.bean.HrZxbClient" >

        update INPUT_HR_ZXB_CLIENT
        <set >
             CLIENTNO = #{clientNo,jdbcType=VARCHAR},
        </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>

    <select id="getCount" resultType="Integer" parameterType="java.util.Map">
        select count(*) from
        ( select rownum r,c.* from (
        select INPUT_HR_ZXB_CLIENT.code code,g.companycode companyCode,g.companyname
        companyName,INPUT_HR_ZXB_CLIENT.Name name,INPUT_HR_ZXB_CLIENT.Company_Type company_type from INPUT_HR_ZXB_CLIENT
        LEFT JOIN DIM_ORG G ON INPUT_HR_ZXB_CLIENT.CODE=G.SUBCOMPANYCODE
        where 1=1
        <if test="code != null">
            and code = #{code,jdbcType=VARCHAR}
        </if>
        <if test="name != null">
            and Name = #{name,jdbcType=VARCHAR}
        </if>
        ) c

        ) where
        1=1



    </select>

  <select id="listByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
select * from
   ( select rownum r,c.* from (
      select INPUT_HR_ZXB_CLIENT.code code,g.companycode companyCode,INPUT_HR_ZXB_CLIENT.Clientno clientNo,g.companyname companyName,INPUT_HR_ZXB_CLIENT.Name name,INPUT_HR_ZXB_CLIENT.Company_Type company_type    from INPUT_HR_ZXB_CLIENT
      LEFT JOIN DIM_ORG G ON INPUT_HR_ZXB_CLIENT.CODE=G.SUBCOMPANYCODE) c
      where 1=1
      <if test="code != null" >
          and code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="name != null" >
          and Name = #{name,jdbcType=VARCHAR}
      </if>

      <if test="pageIndex!=null and pageIndex!='' and pageSize!=null and pageSize!=''">
          and rownum &lt;= #{pageIndex} * #{pageSize}
      </if>

    )  where
     1=1
      <if test="pageIndex!=null and pageIndex!='' and pageSize!=null and pageSize!=''">
          and  r &gt;= (#{pageIndex}-1) * #{pageSize}
      </if>


  </select>
</mapper>