<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanruan.platform.mapper.ReportUseMapper">
    <select id="getXbReportUse" resultType="com.fanruan.platform.bean.XbReportUse">
        SELECT
        a.companyname,
        COUNT(DISTINCT P.NOTICESERIALNO) AS num,
        SUM(NVL(C.NUM,0)) usrNum
        from (
        select a.*,d.name as 申请人,e.companyname from LOG_ZXB_APPLY a
        left join credit_user b on a.APPROVEBY = b.username
        left join DIM_ORG c on b.company_name = c.subcompanyname
        left join credit_user d on a.updateby = d.username
        left join DIM_ORG e on d.company_name = e.subcompanyname
        where 1=1 and to_char(APPROVEDATE,'YYYY-MM-DD') &gt;= to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD') and to_char(APPROVEDATE,'YYYY-MM-DD') &lt;= to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        <if test="companyName!=null and companyName!=''">
            and   ${companyName}
        </if>
        ) A
        left join ODS_ZXB_REPORTAPPROVE  R ON R.CORPSERIALNO=A.CORPSERIALNO_IMPORT
        left join ODS_ZXB_PDF P ON P.NOTICESERIALNO = R.NOTICESERIALNO
        left join (
        SELECT
        a.companyname,
        substr( PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),1,instr(PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),'.',1)-1) AS CODE,
        A.REPORTCORPCHNNAME||'/'||A.REPORTCORPENGNAME AS NAME,
        count(*) AS NUM
        FROM (
        select a.*,c.companyname from LOG_ZXB_APPLY a
        left join credit_user b on a.APPROVEBY = b.username
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and  ${companyName}
        </if>
        ) A
        LEFT JOIN ODS_ZXB_REPORTAPPROVE  R ON R.CORPSERIALNO=A.CORPSERIALNO_IMPORT
        LEFT JOIN  LOG_INTERFACE_REPORT I ON substr( PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),1,instr(PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),'.',1)-1)=R.NOTICESERIALNO
        WHERE URI='//company/getPDF' and  TO_CHAR(TO_DATE(case when length(request_time) &lt;&gt; 19
        then substr(request_time,2,19) else request_time end,'YYYY-MM-DD hh24:mi:ss'),'YYYY-MM-DD') &gt;=to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD') and TO_CHAR(TO_DATE(case when length(request_time) &lt;&gt; 19
        then substr(request_time,2,19) else request_time end,'YYYY-MM-DD hh24:mi:ss'),'YYYY-MM-DD')&lt;=to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        group by  a.companyname,substr( PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),1,instr(PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),'.',1)-1),A.REPORTCORPCHNNAME||'/'||A.REPORTCORPENGNAME
        ) C on C.CODE=P.NOTICESERIALNO AND a.companyname=C.companyname
        WHERE P.NOTICESERIALNO IS NOT NULL and a.companyname IS NOT NULL
        GROUP BY a.companyname
        order by a.companyname
    </select>
    <select id="getXbReportUseList" resultType="com.fanruan.platform.bean.XbReportUseList">
        select b.name || '(' || b.username || ')' as userName,c.companyname,a.*, reportcorpchnname || '/'|| a.reportcorpengname  as name from (
        select PARSEJSON (REQUEST_MESSAGE, 'userId') as userid,
        substr( PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),1,instr(PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),'.',1)-1) as reportCode,
        case when PARSEJSON (REQUEST_MESSAGE, 'reportbuyerno') = 'null' then '' else PARSEJSON (REQUEST_MESSAGE, 'reportbuyerno') end as xbCode,
        case when PARSEJSON (REQUEST_MESSAGE, 'isDownload') =0 then '预览' else '下载' end as operateNote,
        case when PARSEJSON (REQUEST_MESSAGE, 'reportcorpengname') = 'null' then '' else PARSEJSON (REQUEST_MESSAGE, 'reportcorpengname') end as reportcorpengname,
        case when PARSEJSON (REQUEST_MESSAGE, 'reportcorpchnname') = 'null' then '' else PARSEJSON (REQUEST_MESSAGE, 'reportcorpchnname') end as reportcorpchnname,
        to_date(case when length(request_time) &lt;&gt; 19
        then substr(request_time,2,19) else request_time end,'yyyy-mm-dd hh24:mi:ss') as operateTime
        from log_interface_report where URI = '//company/getPDF'
        and PARSEJSON (REQUEST_MESSAGE, 'userId') IS NOT NULL
        ) a
        left join credit_user b on a.userid = b.user_id
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and ${companyName}
        </if>
        and to_char(a.operateTime,'YYYY-MM-DD')&gt;=to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(a.operateTime,'YYYY-MM-DD')&lt;=to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and reportCode not like '%用户手册%'
        and reportCode not like '%客商导入模板%'
        order by a.operateTime desc
    </select>
    <select id="getXbReportUseByCompany" resultType="com.fanruan.platform.bean.XbReportUseByCompany">
        SELECT DISTINCT
        a.updateby || '(' || a.申请人 || ')' as userName,
            to_char(a.updatetime,'yyyy-mm-dd') applyTime,
        to_char(a.APPROVEDATE,'yyyy-mm-dd') approveTime,
        a.companyname applyCompanyName,
        P.NOTICESERIALNO AS reportCode,--报告单号
        a.REPORTBUYERNO xbCode,--信保代码
        A.REPORTCORPCHNNAME||'/'||A.REPORTCORPENGNAME AS name
        from (
        select a.*,d.name as 申请人,e.companyname from LOG_ZXB_APPLY a
        left join credit_user b on a.APPROVEBY = b.username
        left join DIM_ORG c on b.company_name = c.subcompanyname
        left join credit_user d on a.updateby = d.username
        left join DIM_ORG e on d.company_name = e.subcompanyname
        ) A
        left join ODS_ZXB_REPORTAPPROVE  R ON R.CORPSERIALNO=A.CORPSERIALNO_IMPORT
        left join ODS_ZXB_PDF P ON P.NOTICESERIALNO = R.NOTICESERIALNO
        WHERE P.NOTICESERIALNO IS NOT NULL and a.companyname IS NOT NULL
        <if test="companyName!=null and companyName!=''">
            and ${companyName}
        </if>
        and to_char(APPROVEDATE,'YYYY-MM-DD') &gt;= to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD') and to_char(APPROVEDATE,'YYYY-MM-DD') &lt;= to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        order by reportCode
    </select>

    <select id="getUseNum" resultType="map">
        SELECT
        substr( PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),1,instr(PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),'.',1)-1) AS CODE,
        A.REPORTCORPCHNNAME||'/'||A.REPORTCORPENGNAME AS NAME,
        case when REQUEST_MESSAGE like '%"isDownload":"1"%' then '1' else '0' end as type,
        count(*) AS NUM
        FROM (
        select a.* from LOG_ZXB_APPLY a
        left join credit_user b on a.APPROVEBY = b.username
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and ${companyName}
        </if>
        ) A
        LEFT JOIN ODS_ZXB_REPORTAPPROVE  R ON R.CORPSERIALNO=A.CORPSERIALNO_IMPORT
        LEFT JOIN  LOG_INTERFACE_REPORT I ON substr( PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),1,instr(PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),'.',1)-1)=R.NOTICESERIALNO

        WHERE URI='//company/getPDF' and  TO_CHAR(TO_DATE(REQUEST_TIME,'YYYY-MM-DD hh24:mi:ss'),'YYYY-MM-DD') BETWEEN to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD') and to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        group by  substr( PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),1,instr(PARSEJSON (REQUEST_MESSAGE, 'noticeSerialno'),'.',1)-1),A.REPORTCORPCHNNAME||'/'||A.REPORTCORPENGNAME,
        case when REQUEST_MESSAGE like '%"isDownload":"1"%' then '1' else '0' end
    </select>

    <select id="getZcxReportUse" resultType="com.fanruan.platform.bean.ZcxReportUse">
        select A.REPORT_TYPE module,count(*) as userNumber
        from (select * from CREDIT_REPORT where update_by &lt;&gt; 'null' ) A
        left join CREDIT_USER B on A.UPDATE_BY=B.USER_ID
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where to_char(A.UPDATE_TIME,'YYYY-MM-DD')&gt;=to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(A.UPDATE_TIME,'YYYY-MM-DD')&lt;=to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        <if test="companyName!=null and companyName!=''">
            and ${companyName}
        </if>
        group by A.REPORT_TYPE

    </select>

    <select id="getZcxReportGz" resultType="map">
     select count(*) count from (SELECT COMPANY_NAME,COUNT(*) FROM
        (
        select a.* from CREDIT_FOCUS_RELATIONS a
        left join credit_user b on a.user_id = b.user_id
        left join DIM_ORG c on b.company_name = c.subcompanyname
        INNER join log_zcx_concern d
        on b.username = d.updateby and d.entname = a.company_name
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and ${companyName}
        </if>
        )
WHERE RELATIONS LIKE '%"zhongchengxin":1%' GROUP BY COMPANY_NAME)
    </select>

    <select id="getZxcShareSum" resultType="map">
        SELECT
        count(*) as num
        FROM
        (
        select a.* from LOG_INTERFACE_REPORT a
        left join credit_user b on a.id = b.user_id
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and ${companyName}
        </if>
        ) I
        WHERE URI='//company/zhongChengXin/getReportPDF'  AND   TO_CHAR(TO_DATE(case when length(request_time) &lt;&gt; 19
        then substr(request_time,2,19) else request_time end,'YYYY-MM-DD hh24:mi:ss'),'YYYY-MM-DD') BETWEEN to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD') and to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
    </select>


    <select id="getZcxReportUseList" resultType="com.fanruan.platform.bean.ZcxReportUseList">
        select A.COMPANY_NAME applyCompanyName,A.REPORT_TYPE applyType,A.UPDATE_BY ,to_char(A.UPDATE_TIME,'YYYY-MM-DD hh24:mi:ss') applyTime,B.USERNAME||'('||B.NAME||')' as userName,c.companyname companyName
        from (select * from CREDIT_REPORT where UPDATE_BY &lt;&gt;'null' )A left join CREDIT_USER B
        on A.UPDATE_BY=B.USER_ID
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where to_char(A.UPDATE_TIME,'YYYY-MM-DD')&gt;=to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(A.UPDATE_TIME,'YYYY-MM-DD')&lt;=to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        <if test="companyName!=null and companyName!=''">
            and   ${companyName}
        </if>
        order by MAX(A.UPDATE_TIME)OVER(PARTITION BY A.REPORT_TYPE ORDER BY A.UPDATE_TIME DESC) desc,
        MAX(A.UPDATE_TIME)OVER(PARTITION BY A.REPORT_TYPE,A.COMPANY_NAME ORDER BY A.UPDATE_TIME DESC) desc,
        MAX(A.UPDATE_TIME)OVER(PARTITION BY A.REPORT_TYPE,A.COMPANY_NAME,B.USERNAME ORDER BY A.UPDATE_TIME DESC)  desc,
        MAX(A.UPDATE_TIME)OVER(PARTITION BY A.REPORT_TYPE,A.COMPANY_NAME,B.USERNAME,C.companyname ORDER BY A.UPDATE_TIME DESC) desc
        ,A.UPDATE_TIME desc
    </select>

    <select id="getMonitoring" resultType="com.fanruan.platform.bean.Monitoring">


        <if test="flag!=null and flag!='' and flag=='0'.toString()">
            select rownum no,company_name gzCompanyName,name userName,companyname companyName,updatetime gzTime from (
            select a.*
            ,b.name
            ,TO_CHAR(TO_TIMESTAMP(d.updatetime,'DD-MON-YY hh.mi.ss.ff PM'),'YYYY-MM-DD hh24:mi:ss') as updatetime,c.companyname
            from CREDIT_FOCUS_RELATIONS a
            left join credit_user b on a.user_id = b.user_id
            left join DIM_ORG c
            on b.company_name = c. subcompanyname
            left join log_zcx_concern d
            on b.username = d.updateby and d.entname = a.company_name
            where 1=1
            <if test="companyName!=null and companyName!=''">
                and   ${companyName}
            </if>
            )
            where 1=1 and name is not null AND UPDATETIME IS NOT NULL
            and RELATIONS LIKE '%"zhongchengxin":1%'
            order by MAX(updatetime)OVER(PARTITION BY company_name ORDER BY updatetime DESC) DESC,updatetime DESC
        </if>
        <if test="flag!=null and flag!='' and flag=='1'.toString()">
            select rownum no,company_name gzCompanyName,name userName,companyname companyName,updatetime gzTime from (
            select a.*,b.name,TO_CHAR(TO_TIMESTAMP(d.updatetime,'DD-MON-YY hh.mi.ss.ff PM'),'YYYY-MM-DD hh24:mi:ss') as updatetime,c.companyname
            from CREDIT_FOCUS_RELATIONS a left join credit_user b on a.user_id = b.user_id
            left join DIM_ORG c on b.company_name = c. subcompanyname
            inner join log_tyc_concern d on b.username = d.updateby and d.entname = a.company_name
            where     1=1
                    <if test="companyName!=null and companyName!=''">
            and   ${companyName}
        </if>
            )
            where 1=1 and name is not null

            and RELATIONS LIKE '%"tianyancha":1%'
            order by MAX(updatetime)OVER(PARTITION BY company_name ORDER BY updatetime DESC) DESC,updatetime DESC
        </if>





    </select>
    <!--天眼查总关注-->
    <select id="getTycUseGz" resultType="map">
        select count(*) from (SELECT COMPANY_NAME,COUNT(*) FROM ( select  a.* from CREDIT_FOCUS_RELATIONS a
left join credit_user b on a.user_id = b.user_id
left join DIM_ORG c on b.company_name = c. subcompanyname
inner join log_tyc_concern d on b.username = d.updateby and d.entname = a.company_name
where 1=1
        <if test="companyName!=null and companyName!=''">
            and  ${companyName}
        </if>
)
WHERE RELATIONS LIKE '%"tianyancha":1%' GROUP BY COMPANY_NAME)
    </select>

    <!--天眼查使用模糊查询-->
    <select id="getTycUseLike" resultType="map">
       SELECT
        count(*) as num
        FROM (
        select a.* from LOG_INTERFACE_REPORT a
        left join credit_user b on a.id = b.user_id
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and  ${companyName}
        </if>
        ) I
        WHERE URI='//company/direct/searchList'
        AND   SUBSTR(REQUEST_TIME,1,10) BETWEEN to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
    </select>

    <!--天涯查使用基本，详情工商页-->
    <select id="getTycBase" resultType="map">
        <!--SELECT
        count(*) as num
        FROM
        (
        select a.* from LOG_INTERFACE_REPORT a
        left join credit_user b on a.id = b.user_id
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and   ${companyName}
        </if>
        )
        I
        WHERE URI='//company/getBaseInfo'  AND   TO_CHAR(TO_DATE(case when length(request_time) &lt;&gt; 19
        then substr(request_time,2,19) else request_time end,'YYYY-MM-DD hh24:mi:ss'),'YYYY-MM-DD')
        BETWEEN to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD') and to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')-->
        SELECT COUNT(*) AS NUM FROM(
        SELECT
        *
        FROM ODS_TYC_JSON A LEFT
        JOIN CREDIT_API_RELATION B
        ON SUBSTR(A.TOKEN_ID,1,3) = B.ENT_TOKENID
        WHERE A.JSONFLAG = '1001'
        AND A.ERROR_CODE = '0'
        AND A.FID IS NULL
        AND SUBSTR(TOKEN_ID,-2,2) = '20'
        AND TO_CHAR(UPDATETIME,'YYYY-MM-DD')

        BETWEEN to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        <if test="companyName2!=null and companyName2!=''">
            AND CASE WHEN B.ENTNAME IN ('协同-资信共享平台','门户测试','浙江省国际贸易集团有限公司1','浙江省国际贸易集团有限公司2')
            THEN '浙江省国际贸易集团有限公司' ELSE B.ENTNAME END   ${companyName2}
        </if>
        )
    </select>

    <!--天眼查客户初筛-->
    <select id="getTycFilterCustomer" resultType="map">

        SELECT
        COUNT(*) AS NUM
        FROM INPUT_CUSTOM_HAND A LEFT
        JOIN CREDIT_USER B
        ON A.UPDATEBY = B.USERNAME LEFT
        JOIN ODS_TYC_JSON C
        ON A.FID = C.FID
        WHERE NVL(C.FID,'0') &lt;&gt; '0'        --筛选执行ETL成功的数据
        AND C.ERROR_CODE = 0             --筛选成功调用天眼查接口的数据
        AND TO_CHAR(A.UPDATETIME,'YYYY-MM-DD') &gt;= to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')  --大于等于开始时间
        AND TO_CHAR(A.UPDATETIME,'YYYY-MM-DD') &lt;= to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')  --小于等于结束时间
        <!--AND RES_ENAIL(B.COMPANY_NAME) IN ('浙江省国际贸易集团有限公司')-->
        <if test="companyName!=null and companyName!=''">
            and  ${companyName}
        </if>

    </select>
    <!--天眼查下发-->
    <select id="getTycXf" resultType="map">
        <!--SELECT
        count(*) num
        FROM (
        select a.* from LOG_INTERFACE_REPORT a
        left join credit_user b on a.id = b.user_id
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and  ${companyName}
        </if>
        ) I
        WHERE URI='/common/getJson/1001'  AND  SUBSTR(REQUEST_TIME,1,10)
         BETWEEN to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
         and to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')-->
        SELECT COUNT(*) AS NUM FROM(
        SELECT
        *
        FROM ODS_TYC_JSON A LEFT
        JOIN CREDIT_API_RELATION B
        ON SUBSTR(A.TOKEN_ID,1,3) = B.ENT_TOKENID
        WHERE A.JSONFLAG = '1001'
        AND A.ERROR_CODE = '0'
        AND SUBSTR(TOKEN_ID,-1,1) = '2'
        AND TO_CHAR(UPDATETIME,'YYYY-MM-DD')
        BETWEEN to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        <if test="companyName2!=null and companyName2!=''">
            AND CASE WHEN B.ENTNAME IN ('协同-资信共享平台','门户测试','浙江省国际贸易集团有限公司1','浙江省国际贸易集团有限公司2')
            THEN '浙江省国际贸易集团有限公司' ELSE B.ENTNAME END   ${companyName2}
        </if>
        )
    </select>

    <!--天眼查嵌入页面-->
    <select id="getTycQr" resultType="map">
        SELECT
        count(*) as num
        FROM (
        select a.* from LOG_CREDIT_OPER a
        left join credit_user b on a.user_code = b.username
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and  ${companyName}
        </if>
        ) I
        WHERE FORM_PATH='/essInfo'  AND   TO_CHAR(Q_DATE,'YYYY-MM-DD')
        BETWEEN to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
    </select>
    <!--天眼查总关注-->
    <select id="getTycZgz" resultType="map">
       select count(*) num from (SELECT COMPANY_NAME,COUNT(*) FROM ( select  a.* from CREDIT_FOCUS_RELATIONS a
        left join credit_user b on a.user_id = b.user_id
        left join DIM_ORG c on b.company_name = c. subcompanyname
        inner join log_tyc_concern d on b.username = d.updateby and d.entname = a.company_name
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and  ${companyName}
        </if>
        )
WHERE RELATIONS LIKE '%"tianyancha":1%' GROUP BY COMPANY_NAME)
    </select>

    <!--天眼查总关注不联动-->
    <select id="getTycZgzBld" resultType="map">
        select count(*) num from (SELECT COMPANY_NAME,COUNT(*) FROM ( select  a.* from CREDIT_FOCUS_RELATIONS a
        left join credit_user b on a.user_id = b.user_id
        left join DIM_ORG c on b.company_name = c. subcompanyname
        )
        WHERE RELATIONS LIKE '%"tianyancha":1%' GROUP BY COMPANY_NAME)
    </select>

    <!--天眼查模糊查询-->
    <select id="getTycMhcx" resultType="map">
        SELECT COUNT(*) AS NUM FROM(
        SELECT
        *
        FROM ODS_TYC_JSON A LEFT
        JOIN CREDIT_API_RELATION B
        ON SUBSTR(A.TOKEN_ID,1,3) = B.ENT_TOKENID
        WHERE A.JSONFLAG = '816'
        AND A.ERROR_CODE = '0'
        AND TO_CHAR(UPDATETIME,'YYYY-MM-DD')
        BETWEEN to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        <if test="companyName2!=null and companyName2!=''">
            AND CASE WHEN B.ENTNAME IN ('协同-资信共享平台','门户测试','浙江省国际贸易集团有限公司1','浙江省国际贸易集团有限公司2')
            THEN '浙江省国际贸易集团有限公司' ELSE B.ENTNAME END   ${companyName2}
        </if>
        )

    </select>

    <!--客户初筛调用次数-->
    <select id="getCustomFilter" resultType="map">

        SELECT
        COMPANY_NAME companyname,COUNT(*) AS num,
        SOURCE source
        FROM (
        SELECT
        RES_ENAIL(B.COMPANY_NAME) AS COMPANY_NAME,
        CASE WHEN C.ERROR_CODE = 0 AND A.FID IS NOT NULL
        THEN '天眼查接口'
        ELSE '资信库' END AS SOURCE
        FROM INPUT_CUSTOM_HAND A LEFT
        JOIN CREDIT_USER B
        ON A.UPDATEBY = B.USERNAME LEFT
        JOIN ODS_TYC_JSON C
        ON A.FID = C.FID
        WHERE 1=1
        <if test="startDate!=null and startDate!=''">
        and TO_CHAR(A.UPDATETIME,'YYYY-MM-DD') &gt;= to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')  --大于等于开始时间
        </if>
        <if test="endDate!=null and endDate!=''">
        AND TO_CHAR(A.UPDATETIME,'YYYY-MM-DD') &lt;= to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')  --小于等于结束时间
        </if>
        <if test="companyName!=null and companyName!=''">
            AND ${companyName}
        </if>
        )

        GROUP BY COMPANY_NAME,SOURCE order by SOURCE

    </select>

    <!--天眼查客户初筛明细-->
    <select id="getTycFilterCustomerList" resultType="com.fanruan.platform.bean.TycFilterCustomerList">

    <!--
       select a.* from (
        SELECT
        realname ,userName applyUserName ,companyname,TO_CHAR(TO_TIMESTAMP(time,'DD-MON-YY hh.mi.ss.ff PM'),'YYYY-MM-DD hh24:mi:ss') as applyTime,name as applyCompanyName
        FROM (select a.*,c.username,c.name as realname,d.companyname,b.updatetime as time from ODS_TYC_GSINFO a LEFT JOIN(
        select *
          from (select ROW_NUMBER() OVER(PARTITION BY custom_name ORDER BY UPDATETIME asc) rn,a.*
                      from INPUT_CUSTOM_HAND a )
         where rn = 1
        ) b on a.input_name = b.custom_name
        left join CREDIT_USER c on b.updateby = c.username
        LEFT JOIN dim_org d on c.company_name = d.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and ${companyName}
        </if>
        ) I
        WHERE INPUT_NAME IS NOT NULL
        ) a
        where 1=1

        and applyTime BETWEEN to_char(to_date(#{startDate},'yyyy-mm-dd'),'YYYY-MM-DD')
         and to_char(to_date(#{endDate},'yyyy-mm-dd'),'YYYY-MM-DD')
         -->
        SELECT
        A.CUSTOM_NAME AS applyCompanyName,
        B.NAME AS userName,
        B.NAME AS applyUserName,
        TO_CHAR(A.UPDATETIME,'yyyy-MM-dd HH24:MI:SS') AS applyTime,
        RES_ENAIL(B.COMPANY_NAME) AS COMPANYNAME
        FROM INPUT_CUSTOM_HAND A LEFT
        JOIN CREDIT_USER B
        ON A.UPDATEBY = B.USERNAME LEFT
        JOIN ODS_TYC_JSON C
        ON A.FID = C.FID
        WHERE 1=1
        <if test="startDate!=null and startDate!=''">
        and TO_CHAR(A.UPDATETIME,'YYYY-MM-DD') &gt;= to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        </if>
        <if test="endDate!=null and endDate!=''">
        AND TO_CHAR(A.UPDATETIME,'YYYY-MM-DD') &lt;= to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        </if>
        <if test="companyName!=null and companyName!=''">
            AND ${companyName}
        </if>
        <if test="source!=null and source!='' and  source.toString()=='天眼查接口'.toString()">
            AND C.ERROR_CODE = 0 AND A.FID IS NOT NULL
        </if>
        <if test="source!=null and source!='' and  source.toString()=='资信库'.toString()">
            AND nvl(C.ERROR_CODE,'1') &lt;&gt;0
        </if>
        ORDER BY MAX(A.UPDATETIME)OVER(PARTITION BY A.CUSTOM_NAME ORDER BY A.UPDATETIME DESC) DESC,A.CUSTOM_NAME DESC,
        MAX(A.UPDATETIME)OVER(PARTITION BY A.CUSTOM_NAME,B.NAME ORDER BY A.UPDATETIME DESC) DESC,A.UPDATETIME DESC
    </select>

    <!--页面热度-->
    <select id="getPageActive" resultType="com.fanruan.platform.bean.pageActive">
        select rownum no,aa.* from (select
        CASE
        WHEN TO_PATH='/ZxbApplyList'
        THEN '信保报告审核'
        WHEN TO_PATH='/'
        THEN '登录页'
        WHEN TO_PATH||NVL(TO_PAGE_NAME,'0')='/iframePage0'
        THEN '访问日志'
        ELSE TO_PAGE_NAME
        END AS pageName
        ,TO_PATH pagePath
        ,count(ID) as num,
        count(ID) ID,
        count(distinct USER_NAME) as visitUserNum
        from (
        select a.* from LOG_CREDIT_OPER a
        left join credit_user b on a.user_code = b.username
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and ${companyName}
        </if>
        )
        where  to_char(Q_DATE,'YYYY-MM-DD')&gt;=to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(Q_DATE,'YYYY-MM-DD')&lt;=to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        group by TO_PAGE_NAME,TO_PATH
        order by ID desc) aa
    </select>
    <!--页面名称按访问次数排序-->
    <select id="getPageActivePageDesc" resultType="java.lang.String">
        select nvl(pagename,'无') pagename from (select rownum no,aa.* from (select
        CASE
        WHEN TO_PATH='/ZxbApplyList'
        THEN '信保报告审核'
        WHEN TO_PATH='/'
        THEN '登录页'
        WHEN TO_PATH||NVL(TO_PAGE_NAME,'0')='/iframePage0'
        THEN '访问日志'
        ELSE TO_PAGE_NAME
        END AS pageName
        ,TO_PATH pagePath
        ,count(ID) as num,
        count(ID) ID,
        count(distinct USER_NAME) as visitUserNum
        from (
        select a.* from LOG_CREDIT_OPER a
        left join credit_user b on a.user_code = b.username
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and ${companyName}
        </if>
        )
        where  to_char(Q_DATE,'YYYY-MM-DD')&gt;=to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(Q_DATE,'YYYY-MM-DD')&lt;=to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        group by TO_PAGE_NAME,TO_PATH
        order by ID desc) aa) group by pagename order by  max(num) desc
    </select>

    <!--模糊查询-->
    <select id="getLikeQuery" resultType="com.fanruan.platform.bean.LikeQuery">
        select rownum no,A.USER_ID,B.NAME userName,A.KEY_WORD keyWord,to_char(A.SEARCH_TIME,'YYYY-MM-DD hh24:mi:ss') operateTime from
        (
        select a.* from CREDIT_SEARCH_WORDS a
        left join credit_user b on a.user_id = b.user_id
        left join DIM_ORG c on b.company_name = c.subcompanyname
        where 1=1
        <if test="companyName!=null and companyName!=''">
            and  ${companyName}
        </if>
        )
        A
        left join CREDIT_USER B on A.USER_ID=B.USER_ID
        where to_char(A.SEARCH_TIME,'YYYY-MM-DD')&gt;=to_char(to_date(#{startDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        and to_char(A.SEARCH_TIME,'YYYY-MM-DD')&lt;=to_char(to_date(#{endDate},'YYYY-MM-DD'),'YYYY-MM-DD')
        order by A.SEARCH_TIME desc
    </select>

</mapper>